[% WRAPPER page.tt title='All Tags' %]
   
[% IF tag_count > 0 %]
<p>Articles have been tagged with the following tags:</p>

<div id="tag_cloud">
[% FOREACH tag = tags %]

<span class="tag" style="font-size: [% tag_data.$tag.count %]%">
  <a href="[% c.uri_for("/tags", "$tag") | html %]">
    [% tag | html %]
  </a>
</span>	 

[% END %]
</div>
[% ELSE %]
<p>No tags.</p>
[% END %]
[% END %]