[% INCLUDE header %]
<div id="article_list">
    <p>[% article_count %] articles to display.</p>
    <ul class="articles">
      [% FOREACH item = data %]
      <li><a href="[% item.uri %]">[% item.title %]</a></li>
      [% END %]
    </ul>
</div>
[% INCLUDE footer %]
