[% WRAPPER page.tt %]
  [% INCLUDE post.tt 
     standalone = 1  %]
  
  <div id="comments">
    [% INCLUDE comments_header.tt %]
    [% IF article.comments %]
    <ul>
      [% FOREACH comment = article.comments %]
      <li>[% INCLUDE comment.tt %]</li>
      [% END %]
    </ul>
    [% END %]
  </div>
[% END %]
