    <div class="comments_header">
      <p>Comments on <a href="[% base %][% article.uri %]">[% article.title %]</a>
	| 
	[% INCLUDE comment_count.tt 
	           count = article.comment_count %]
	|
	<a href="[% base %]comments/post/[% article.id %]">Post a comment</a>
      </p>
    </div>