<span class="feed_icon_box">

 <a href="[% c.uri_for(yaml_uri) %]">
        <img src="[% base %]static/common/images/feed_icons/yaml.png" alt="[YAML]" /></a>
 <a href="[% c.uri_for(yaml_uri) | replace('yaml', 'json') %]">
        <img src="[% base %]static/common/images/feed_icons/json.png" alt="[JSON]" /></a>
 <a href="[% c.uri_for(rss_uri) %]">
        <img src="[% base %]static/common/images/feed_icons/xml.png" alt="[XML]" /></a>
</span>