<div class="mini_post">
<div class="mini_post_title"><p>[% article.title %]</p></div>
<div class="mini_body">[% article.text %]
<p class="more"><a href="[% c.uri_for("/articles/$article.name") %]">
      More
</a></p></div>
</div>