<div id="sidebar"> 
  [% IF c.config.sidebar_picture %]
  <img id="sidebar_picture" src="[% c.config.sidebar_picture %]" alt="[LOGO]"/>
  [% END %]

  [% IF c.config.sidebar_blurb %]
  <p id="sidebar_blurb">
    [% c.config.sidebar_blurb %]
  </p>		
  [% END %]
  <div id="sidebar_box_outside" class="box">
   [% INCLUDE navbox.tt %]
  </div>
</div>
