[% WRAPPER page.tt title='All Tags' %]
Articles have been tagged with the following tags:

<div id="tag_cloud">
[% FOREACH tag = tags %]

<span class="tag" style="font-size: [% tag_data.$tag.count %]%">
  <a href="[% base %]tags/[% tag | uri | html %]">
    [% tag | html %]
  </a>
</span>	 

[% END %]
</div>
[% END %]