[% WRAPPER page.tt title='Tags' %]

Articles have been tagged with the following tags:

<ul>
[% FOREACH tag=tags %]
<li><a href="[% base %]tags/[% CGI.escape(tag) %]">[% tag %]</a></li>
[% END %]
</ul>

[% END %]