[% WRAPPER page.tt %]

<h2> Users that I know about </h2>
<ul>
[% FOREACH auser = users %]
<li>[% auser.fullname %] &lt;[% auser.email %]&gt;<br />
    [% auser.nice_id %] - [% auser.key_fingerprint %]
</li>

[% END %]
</ul>

[% END %]