[% WRAPPER page.tt %]

<h2> Users that I know about </h2>
<ul>
[% FOREACH user = users %]
<li>[% user.fullname %] &lt;[% user.email %]&gt;<br />
    [% user.nice_id %] - [% user.key_fingerprint %]
</li>

[% END %]
</ul>

[% END %]