<div id="login_box" class="box">
     <h3>Login</h3>
      <p class="logged_in_as">
       [% IF user.id %]
	Logged in as <b>[% user.fullname | html %]</b>.
       [% ELSE %]
        Not logged in.  <a href="[% c.uri_for("/login") %]">Login</a>.
       [% END %]
      </p>
</div>